{
    "swagger": "2.0",
    "info": {
        "version": "1.27.0",
        "title": "Meraki Dashboard API",
        "description": "The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.\n\n> Date: 02 November, 2022\n>\n> [Recent Updates](https://meraki.io/whats-new/)\n\n---\n\n[API Documentation](https://meraki.io/api)\n\n[Community Support](https://meraki.io/community)\n\n[Meraki Homepage](https://www.meraki.com)\n",
        "contact": {
            "name": "Meraki Developer Community",
            "url": "https://meraki.io/community"
        }
    },
    "host": "api.meraki.com",
    "basePath": "/api/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "meraki_api_key": {
            "type": "apiKey",
            "name": "X-Cisco-Meraki-API-Key",
            "in": "header"
        }
    },
    "security": [
        {
            "meraki_api_key": []
        }
    ],
    "paths": {
        "/administered/identities/me": {
            "get": {
                "description": "Returns the identity of the current user.",
                "operationId": "getAdministeredIdentitiesMe",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Username"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "User email"
                                },
                                "lastUsedDashboardAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last seen active on Dashboard UI"
                                },
                                "authentication": {
                                    "type": "object",
                                    "properties": {
                                        "mode": {
                                            "type": "string",
                                            "description": "Authentication mode"
                                        },
                                        "api": {
                                            "type": "object",
                                            "properties": {
                                                "key": {
                                                    "type": "object",
                                                    "properties": {
                                                        "created": {
                                                            "type": "boolean",
                                                            "description": "If API key is created for this user"
                                                        }
                                                    },
                                                    "description": "API key"
                                                }
                                            },
                                            "description": "API authentication"
                                        },
                                        "twoFactor": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "If twoFactor authentication is enabled for this user"
                                                }
                                            },
                                            "description": "TwoFactor authentication"
                                        },
                                        "saml": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "If SAML authentication is enabled for this user"
                                                }
                                            },
                                            "description": "SAML authentication"
                                        }
                                    },
                                    "description": "Authentication info"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "name": "Miles Meraki",
                                "email": "miles@meraki.com",
                                "lastUsedDashboardAt": "2018-02-11T00:00:00.090210Z",
                                "authentication": {
                                    "mode": "email",
                                    "api": {
                                        "key": {
                                            "created": true
                                        }
                                    },
                                    "twoFactor": {
                                        "enabled": false
                                    },
                                    "saml": {
                                        "enabled": false
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Returns the identity of the current user.",
                "tags": [
                    "administered",
                    "monitor",
                    "identities",
                    "me"
                ]
            }
        },
        "/devices/{serial}": {
            "get": {
                "description": "Return a single device",
                "operationId": "getDevice",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object"
                        },
                        "examples": {
                            "application/json": {
                                "name": "My AP",
                                "lat": 37.4180951010362,
                                "lng": -122.098531723022,
                                "serial": "Q234-ABCD-5678",
                                "mac": "00:11:22:33:44:55",
                                "model": "MR34",
                                "address": "1600 Pennsylvania Ave",
                                "notes": "My AP's note",
                                "lanIp": "1.2.3.4",
                                "tags": [
                                    "recently-added"
                                ],
                                "networkId": "N_24329156",
                                "beaconIdParams": {
                                    "uuid": "00000000-0000-0000-0000-000000000000",
                                    "major": 5,
                                    "minor": 3
                                },
                                "firmware": "wireless-25-14",
                                "floorPlanId": "g_1234567"
                            }
                        }
                    }
                },
                "summary": "Return a single device",
                "tags": [
                    "devices",
                    "configure"
                ]
            },
            "put": {
                "description": "Update the attributes of a device",
                "operationId": "updateDevice",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "updateDevice",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "The name of a device"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "The list of tags of a device"
                                },
                                "lat": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The latitude of a device"
                                },
                                "lng": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The longitude of a device"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "The address of a device"
                                },
                                "notes": {
                                    "type": "string",
                                    "description": "The notes for the device. String. Limited to 255 characters."
                                },
                                "moveMapMarker": {
                                    "type": "boolean",
                                    "description": "Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified."
                                },
                                "switchProfileId": {
                                    "type": "string",
                                    "description": "The ID of a switch profile to bind to the device (for available switch profiles, see the 'Switch Profiles' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch profile, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template."
                                },
                                "floorPlanId": {
                                    "type": "string",
                                    "description": "The floor plan to associate to this device. null disassociates the device from the floorplan."
                                }
                            },
                            "example": {
                                "name": "My AP",
                                "lat": 37.4180951010362,
                                "lng": -122.098531723022,
                                "serial": "Q234-ABCD-5678",
                                "mac": "00:11:22:33:44:55",
                                "tags": [
                                    "recently-added"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object"
                        },
                        "examples": {
                            "application/json": {
                                "name": "My AP",
                                "lat": 37.4180951010362,
                                "lng": -122.098531723022,
                                "serial": "Q234-ABCD-5678",
                                "mac": "00:11:22:33:44:55",
                                "model": "MR34",
                                "address": "1600 Pennsylvania Ave",
                                "notes": "My AP's note",
                                "lanIp": "1.2.3.4",
                                "tags": [
                                    "recently-added"
                                ],
                                "networkId": "N_24329156",
                                "beaconIdParams": {
                                    "uuid": "00000000-0000-0000-0000-000000000000",
                                    "major": 5,
                                    "minor": 3
                                },
                                "firmware": "wireless-25-14",
                                "floorPlanId": "g_1234567"
                            }
                        }
                    }
                },
                "summary": "Update the attributes of a device",
                "tags": [
                    "devices",
                    "configure"
                ]
            }
        },
        "/devices/{serial}/appliance/dhcp/subnets": {
            "get": {
                "description": "Return the DHCP subnet information for an appliance",
                "operationId": "getDeviceApplianceDhcpSubnets",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "subnet": "192.168.1.0/24",
                                    "vlanId": 100,
                                    "usedCount": 2,
                                    "freeCount": 251
                                }
                            ]
                        }
                    }
                },
                "summary": "Return the DHCP subnet information for an appliance",
                "tags": [
                    "appliance",
                    "monitor",
                    "dhcp",
                    "subnets"
                ]
            }
        },
        "/devices/{serial}/appliance/performance": {
            "get": {
                "description": "Return the performance score for a single MX. Only primary MX devices supported. If no data is available, a 204 error code is returned.",
                "operationId": "getDeviceAppliancePerformance",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object"
                        },
                        "examples": {
                            "application/json": {
                                "perfScore": 10
                            }
                        }
                    }
                },
                "summary": "Return the performance score for a single MX",
                "tags": [
                    "appliance",
                    "monitor",
                    "performance"
                ]
            }
        },
        "/devices/{serial}/appliance/prefixes/delegated": {
            "get": {
                "description": "Return current delegated IPv6 prefixes on an appliance.",
                "operationId": "getDeviceAppliancePrefixesDelegated",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "origin": {
                                        "interface": "wan1"
                                    },
                                    "prefix": "2001:db8:3c4d:15::/64",
                                    "counts": {
                                        "assigned": 2,
                                        "available": 253
                                    },
                                    "method": "auto",
                                    "description": "My ISP provider",
                                    "isPreferred": true,
                                    "expiresAt": "2018-05-12T00:00:00Z"
                                }
                            ]
                        }
                    }
                },
                "summary": "Return current delegated IPv6 prefixes on an appliance.",
                "tags": [
                    "appliance",
                    "monitor",
                    "prefixes",
                    "delegated"
                ]
            }
        },
        "/devices/{serial}/appliance/prefixes/delegated/vlanAssignments": {
            "get": {
                "description": "Return prefixes assigned to all IPv6 enabled VLANs on an appliance.",
                "operationId": "getDeviceAppliancePrefixesDelegatedVlanAssignments",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "vlan": {
                                        "id": 100,
                                        "name": "My VLAN"
                                    },
                                    "origin": {
                                        "interface": "wan1",
                                        "prefix": "2001:db8:3c4d:15::/64"
                                    },
                                    "status": "Active",
                                    "ipv6": {
                                        "prefix": "2001:db8:3c4d:15::/64",
                                        "address": "2001:db8:3c4d:15::1",
                                        "linkLocal": {
                                            "address": "2001:db8:3c4d:15::1"
                                        },
                                        "solicitedNodeMulticast": {
                                            "address": "2001:db8:3c4d:15::1"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "summary": "Return prefixes assigned to all IPv6 enabled VLANs on an appliance.",
                "tags": [
                    "appliance",
                    "monitor",
                    "prefixes",
                    "delegated",
                    "vlanAssignments"
                ]
            }
        },
        "/devices/{serial}/appliance/uplinks/settings": {
            "get": {
                "description": "Return the uplink settings for an MX appliance",
                "operationId": "getDeviceApplianceUplinksSettings",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "interfaces": {
                                    "type": "object",
                                    "properties": {
                                        "wan1": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 1 settings."
                                        },
                                        "wan2": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 2 settings."
                                        }
                                    },
                                    "description": "Interface settings."
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "interfaces": {
                                    "wan1": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
                                        "pppoe": {
                                            "enabled": true,
                                            "authentication": {
                                                "enabled": true,
                                                "username": "username"
                                            }
                                        }
                                    },
                                    "wan2": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
                                        "pppoe": {
                                            "enabled": true,
                                            "authentication": {
                                                "enabled": true,
                                                "username": "username"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Return the uplink settings for an MX appliance",
                "tags": [
                    "appliance",
                    "configure",
                    "uplinks",
                    "settings"
                ]
            },
            "put": {
                "description": "Update the uplink settings for an MX appliance",
                "operationId": "updateDeviceApplianceUplinksSettings",
                "parameters": [
                    {
                        "name": "serial",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "updateDeviceApplianceUplinksSettings",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "interfaces": {
                                    "type": "object",
                                    "properties": {
                                        "wan1": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                },
                                                                "password": {
                                                                    "type": "string",
                                                                    "description": "Password for PPPoE authentication. This parameter is not returned."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 1 settings."
                                        },
                                        "wan2": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                },
                                                                "password": {
                                                                    "type": "string",
                                                                    "description": "Password for PPPoE authentication. This parameter is not returned."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 2 settings."
                                        }
                                    },
                                    "description": "Interface settings."
                                }
                            },
                            "example": {
                                "interfaces": {
                                    "wan1": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
                                        "pppoe": {
                                            "enabled": true,
                                            "authentication": {
                                                "enabled": true,
                                                "username": "username",
                                                "password": "password"
                                            }
                                        }
                                    },
                                    "wan2": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
                                        "pppoe": {
                                            "enabled": true,
                                            "authentication": {
                                                "enabled": true,
                                                "username": "username",
                                                "password": "password"
                                            }
                                        }
                                    }
                                }
                            },
                            "required": [
                                "interfaces"
                            ]
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "interfaces": {
                                    "type": "object",
                                    "properties": {
                                        "wan1": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 1 settings."
                                        },
                                        "wan2": {
                                            "type": "object",
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean",
                                                    "description": "Enable or disable the interface."
                                                },
                                                "vlanTagging": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether VLAN tagging is enabled."
                                                        },
                                                        "vlanId": {
                                                            "type": "integer",
                                                            "description": "The ID of the VLAN to use for VLAN tagging."
                                                        }
                                                    },
                                                    "description": "VLAN tagging settings."
                                                },
                                                "svis": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipv4": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "IP address and subnet mask when in static mode."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Gateway IP address when in static mode."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv4 settings for static/dynamic mode."
                                                        },
                                                        "ipv6": {
                                                            "type": "object",
                                                            "properties": {
                                                                "assignmentMode": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "static",
                                                                        "dynamic"
                                                                    ],
                                                                    "description": "The assignment mode for this SVI. Applies only when PPPoE is disabled."
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "description": "Static address that will override the one(s) received by SLAAC."
                                                                },
                                                                "gateway": {
                                                                    "type": "string",
                                                                    "description": "Static gateway that will override the one received by autoconf."
                                                                },
                                                                "nameservers": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "addresses": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority."
                                                                        }
                                                                    },
                                                                    "description": "The nameserver settings for this SVI."
                                                                }
                                                            },
                                                            "description": "IPv6 settings for static/dynamic mode."
                                                        }
                                                    },
                                                    "description": "SVI settings by protocol."
                                                },
                                                "pppoe": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean",
                                                            "description": "Whether PPPoE is enabled."
                                                        },
                                                        "authentication": {
                                                            "type": "object",
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether PPPoE authentication is enabled."
                                                                },
                                                                "username": {
                                                                    "type": "string",
                                                                    "description": "Username for PPPoE authentication."
                                                                }
                                                            },
                                                            "description": "Settings for PPPoE Authentication."
                                                        }
                                                    },
                                                    "description": "Configuration options for PPPoE."
                                                }
                                            },
                                            "description": "WAN 2 settings."
                                        }
                                    },
                                    "description": "Interface settings."
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "interfaces": {
                                    "wan1": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
                                        "pppoe": {
                                            "enabled": true,
                                            "authentication": {
                                                "enabled": true,
                                                "username": "username"
                                            }
                                        }
                                    },
                                    "wan2": {
                                        "enabled": true,
                                        "vlanTagging": {
                                            "enabled": true,
                                            "vlanId": 1
                                        },
                                        "svis": {
                                            "ipv4": {
                                                "assignmentMode": "static",
                                                "address": "9.10.11.10/16",
                                                "gateway": "13.14.15.16",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1.2.3.4"
                                                    ]
                                                }
                                            },
                                            "ipv6": {
                                                "assignmentMode": "static",
                                                "address": "1:2:3::4",
                                                "gateway": "1:2:3::5",
                                                "nameservers": {
                                                    "addresses": [
                                                        "1001:4860:4860::8888",
                                                        "1001:4860:4860::8844"
                                                    ]
                                                }
                                            }
                                        },
[...]
